.links-of-author { margin-top: 30px; } //20

.links-of-author a {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-bottom-color: $black-deep;//$black-light;
  font-size: 13px;

  // &:before {
  //   display: inline-block;
  //   vertical-align: middle;
  //   margin-right: 3px;
  //   content: " ";
  //   width: 4px;
  //   height: 4px;
  //   border-radius: 50%;
  //   background: rgb(random-color(0, 255) - 50%, random-color(0, 255) - 50%, random-color(0, 255) - 50%);
  // }
}
