<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} | {{ site.description }}
    {% else %}
      {{ page.title }} | {{ site.title }}
    {% endif %}
  </title>

<!-- HTML Meta Tags -->
<!-- <meta property="og:url" content="https://viclw17.github.io/"> -->
<!-- <meta property="og:type" content="blog"> -->
  <meta name="title" property="og:title" content="
    {% if page.title == 'Home' %}
      1000 Forms of Bunnies
    {% else %}
      {{page.title }} 
    {% endif %}">

  <meta name="image" property="og:image" content=" 
    {% if page.image != null %}
      https://viclw17.github.io/images/{{ page.image }}
    {% else %}
      https://viclw17.github.io/images/2016-05-01-MatCap-Shader-Showcase/matcap_bunnies.jpg
      {% endif %}">

  <meta name="description" property="og:description" content="
    {% if page.title == 'Home' %}
      {{ site.description }}
    {% else %}
      {{ post.content | strip_html | truncate: 50 }} 
    {% endif %}">


  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@viclw17">
  <meta name="twitter:creator" content="@viclw17">
  <meta name="twitter:title" content="{% if page.title == 'Home' %}1000 Forms of Bunnies{% else %}{{page.title }}{% endif %}">
  <meta name="twitter:description" content="{% if page.title == 'Home' %}{{ sie.description }}{% else %}{{ post.content | strip_html | truncate: 50 }}{% endif %}"">
  <meta name="twitter:image" content="{% if page.image != null %}https://viclw17.github.io/images/{{ page.image }}{% else %}https://viclw17.github.io/images/2016-05-01-MatCap-Shader-Showcase/matcap_bunnies.jpg{% endif %}">


  <link rel="stylesheet" type="text/css" href="{{ site.github.url }}/assets/css/main.css">
  <link rel="stylesheet" type="text/css" href="{{ site.github.url }}/assets/css/syntax.css">

  <!-- Use Atom -->
  {% feed_meta %}

  <!-- Use RSS-2.0 -->
  <!--<link href="{{ site.github.url }}/rss-feed.xml" type="application/rss+xml" rel="alternate" title="{{ site.title }} | {{ site.description }}"/>
  //-->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700%7CPT+Sans:400">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Code+Pro">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Quattrocento+Sans">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
  <script type="text/javascript" async
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML">
    MathJax.Hub.Config({
        tex2jax: {
          inlineMath: [['$', '$'], ['\\(', '\\)']]
        }
      });
  </script>

  <!-- Google Analytics -->
  {% include google-analytics.html %}

  <!-- Use Jekyll SEO plugin -->
  {% seo %}
</head>
