<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} | {{ site.description }}
    {% else %}
      {{ page.title }} | {{ site.title }}
    {% endif %}
  </title>

<!-- HTML Meta Tags -->
<title>Notes from A Path Tracing Workshop</title>
<meta name="description" content="I haven’t explored ray tracing and path tracing techniques in a while. Recently, I stumbled upon this cool workshop that got me excited about diving back into the topic. It’s a chance for me to approach rendering and its implementation in a whole new way and document my journey along the process. :)">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://viclw17.github.io/2024/07/15/path-tracing-workshop-note">
<meta property="og:type" content="website">
<meta property="og:title" content="Notes from A Path Tracing Workshop">
<meta property="og:description" content="I haven’t explored ray tracing and path tracing techniques in a while. Recently, I stumbled upon this cool workshop that got me excited about diving back into the topic. It’s a chance for me to approach rendering and its implementation in a whole new way and document my journey along the process. :)">
<meta property="og:image" content="https://viclw17.github.io/images/favicon/favicon_bunny_114.png">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="viclw17.github.io">
<meta property="twitter:url" content="https://viclw17.github.io/2024/07/15/path-tracing-workshop-note">
<meta name="twitter:title" content="Notes from A Path Tracing Workshop">
<meta name="twitter:description" content="I haven’t explored ray tracing and path tracing techniques in a while. Recently, I stumbled upon this cool workshop that got me excited about diving back into the topic. It’s a chance for me to approach rendering and its implementation in a whole new way and document my journey along the process. :)">
<meta name="twitter:image" content="https://viclw17.github.io/images/favicon/favicon_bunny_114.png">

<!-- Meta Tags Generated via https://www.opengraph.xyz -->


  <link rel="stylesheet" type="text/css" href="{{ site.github.url }}/assets/css/main.css">
  <link rel="stylesheet" type="text/css" href="{{ site.github.url }}/assets/css/syntax.css">

  <!-- Use Atom -->
  {% feed_meta %}

  <!-- Use RSS-2.0 -->
  <!--<link href="{{ site.github.url }}/rss-feed.xml" type="application/rss+xml" rel="alternate" title="{{ site.title }} | {{ site.description }}"/>
  //-->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700%7CPT+Sans:400">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Code+Pro">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Quattrocento+Sans">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
  <script type="text/javascript" async
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML">
    MathJax.Hub.Config({
        tex2jax: {
          inlineMath: [['$', '$'], ['\\(', '\\)']]
        }
      });
  </script>

  <!-- Google Analytics -->
  {% include google-analytics.html %}

  <!-- Use Jekyll SEO plugin -->
  {% seo %}
</head>
